.description-list {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 0.5rem 2rem;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.description-list dt,
.description-list-item dt {
  grid-column: 1;
  margin: 0;
  font-weight: 700;
  white-space: nowrap;
  text-align: right;
}

.description-list dd,
.description-list-item dd {
  grid-column: 2;
  margin: 0;
}