.featured {
    position: relative;
    top: -120px;

    .featured-card-image {
        width: 100%;
    }

    .featured-card {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 5px;
        text-align: center;
        box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 22%);
        border-radius: 5px 0 0 5px;
        flex: 0 315px;

        .featured-card-callout {
            font-size: .9em;
            font-weight: 900;
            color: var(--link-color);
            text-transform: uppercase;
            margin-bottom: .5em;
        }

        h3 {
            text-transform: uppercase;
            line-height: 1em;
            margin: 0;
        }

        .featured-card-body {
            flex: 1;
            text-align: center;
            padding: 10px;
        }

        a {
            padding: 0 30px;
        }

        @media (width <= 1200px) {
            flex-basis: 280px;
        }

        @media (width <= 990px) {
            flex: 0 280px;

            h3 {
                font-size: 1.4em;
            }
        }

        @media (width <= 768px) {
            flex: 0 230px;

            .featured-card-callout {
                font-size: .8em;
            }

            h3 {
                font-size: 1.1em;
            }
        }

        @media (width <= 576px) {
            flex: 0 400px;
        }

    }
}

.featured > ul {
    list-style: none;
    margin: 0;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 16px;
}

.featured > ul > li {
    border: 1px solid var(--dark-color);
    background-color: var(--background-color);
}

.featured .featured-card-body .featured-card-callout {
    margin-top: 0;
}

.featured-card-divider {
    background-color: rgb(0 0 0 / 10%);
    display: block;
    height: 3px;
    margin: auto;
    width: 50%;
}
