footer {
    padding: 2rem;
    background-color: var(--light-color);
    font-size: var(--body-font-size-s);
}


/*footer .footer-item::after {*/
/*  content: '';*/
/*  width: 100px;*/
/*  height: auto;*/
/*  background: url('/icons/logo.png') no-repeat bottom;*/
/*  background-size: contain;*/
/*}*/

footer .footer-item {
    justify-content: center;
    display: flex;
    gap: 50px;
    max-width: 1200px;
    margin: auto;

    p {
        margin: 0;
        text-transform: uppercase;
    }

    ul {
        margin: 0;
        list-style: none;
        padding: 0;
    }

}

